<!doctype html>
<html lang="en">
  <head>
    {% extends "base.html" %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    {% block link %}
    <link rel="stylesheet" href= "{% static 'css/fff.css' %}" >
    {% endblock %}

    <title>Hello, world!</title>

  </head>
  <body>
    {% block body %}
    <form action="" method="POST" class="add-form">
        {% csrf_token %}
        {{form}}
        <input type="submit" class="add-sub">
    </form>
    {% endblock %}
  </body>
</html>



